<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div id = "barra" class = "barra">
        <a href = "{{ url_for('index') }}"> Inicio </a>
        <a href = "{{ url_for('subjects') }}"> Asignaturas</a>
        <a href = "{{ url_for('marks') }}"> Notas</a>
        <div class = "logo_centrado">
            <img src = "../static/images/logo_blanco_horizontal.png">
        </div>
    </div>
    {% block body %}{% endblock %}
</body>
</html>